@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?v2r3z2');
	src:url('../fonts/icomoon.eot?v2r3z2#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?v2r3z2') format('truetype'),
		url('../fonts/icomoon.woff?v2r3z2') format('woff'),
		url('../fonts/icomoon.svg?v2r3z2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e900";
}
.icon-logo:before {
	content: "\e903";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-googleplus:before {
	content: "\e902";
}

